/**
 * @file _variables.scss
 * @description 定义 Photosuite 使用的 SCSS 变量和 CSS 自定义属性
 */

$ps-caption-size: 12px;
$ps-caption-color: #fff;
$ps-exif-size: 12px;
$ps-exif-color: #fff;
$ps-exif-bg: linear-gradient(to bottom, rgba(0, 0, 0, .6), transparent);
$ps-caption-bg: linear-gradient(to right, rgba(0, 0, 0, .8), transparent);

// 定义 CSS 自定义属性，以便在运行时动态调整样式
:root {
  --photosuite-caption-size: #{$ps-caption-size};
  --photosuite-caption-color: #{$ps-caption-color};
  --photosuite-exif-size: #{$ps-exif-size};
  --photosuite-exif-color: #{$ps-exif-color};
  --photosuite-exif-bg: #{$ps-exif-bg};
  --photosuite-caption-bg: #{$ps-caption-bg};
}