.photosuite-exif-parent {
    position: relative;
    display: inline-block;
    overflow: hidden
}

.photosuite-exif {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: 12px;
    color: #fff;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .6), transparent);
    opacity: 0;
    transition: opacity .2s ease-in-out;
    pointer-events: none
}

.photosuite-figure:hover .photosuite-exif,
.photosuite-exif-parent:hover .photosuite-exif {
    opacity: 1
}