/**
 * @file image-alts.scss
 * @description 图片标题的样式定义
 */

.photosuite-item > a {
  display: block;
}

/* 共享的图片样式重置，避免重复定义 */
.photosuite-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  box-sizing: border-box;
  z-index: 1;
  font-size: var(--photosuite-caption-size) !important;
  color: var(--photosuite-caption-color) !important;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  background: var(--photosuite-caption-bg);
}